

<!-- Banner Starts Here -->
<div class="banner header-text">
    <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
            <div class="text-content">
                <h4>Best Offer</h4>
                <h2>New Arrivals On Sale</h2>
            </div>
        </div>
        <div class="banner-item-02">
            <div class="text-content">
                <h4>Flash Deals</h4>
                <h2>Get your best products</h2>
            </div>
        </div>
        <div class="banner-item-03">
            <div class="text-content">
                <h4>Last Minute</h4>
                <h2>Grab last minute deals</h2>
            </div>
        </div>
    </div>
</div>
<!-- Banner Ends Here -->


<div class="best-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>About Drifter's Armory</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <h4>Looking to top off your Vault?</h4>
                    <p>Drifter's Armory has the best selection of tools and armory to keep you ready for any situation. Browse our offerings to find the gear that best suits you.</p>
                    <ul class="featured-list">
                        <li>Only the best</li>
                        <li>Always the most modern selections</li>
                        <li>Sunset Archives</li>
                        <li>High Quality, High Power</li>
                        <li>Service with a Smile</li>
                    </ul>
                    <a href="@Url.Action("About", "Home")" class="filled-button">Read More</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="~/images/2836261-destinyvault_biggest.jpg" alt="vault">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Creative &amp; Unique <em>Drifter's</em> Selection</h4>
                            <p>Browse our wares.</p>
                        </div>
                        <div class="col-md-4">
                            <a href="@Url.Action("Products", "Home")" class="filled-button">Purchase Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>